@import "mixins";

.interests {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    @include respond-to(wide-screens){
        //flex-direction: row;

        .sub-title {
            flex-basis: 1;
        }

    }

    .interest {
        display: flex;
        margin-bottom: 20px;

        span {
            margin-left: 10px;
            line-height: 40px;
            font-size: 1em;
        }
    }

    .interest-icons {
        width: 40px;
        height: 40px;
    }      
}