@import "navigation";
@import "mixins";
@import "aboutme";

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: "Muli", "Lato", "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    background: url("../images/black-blue-abstract.jpg");
    background-size: cover;
    background-position: right top;

    .content {
        text-align: center;     
        color: $secondary-color;
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        height: calc(100vh - #{$nav-height});
        overflow: scroll;

        h1 {
            font-size: 1.5em;
        }

        #home {
            color: white;
            font-size: 1.2em;
            height: calc(100vh - #{$nav-height});  
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .article {
            width: 100%;
            color: white;
            margin: auto;
            height: auto;
            text-align: left;
            padding: 40px;
            background-color: $secondary-color;
            background: rgba(0,5,30, 0.8);

            .sub-title{
                font-size: 1.2em;
                font-weight: 500;
                width: 100%;
                margin: 20px 0;
                border-bottom: 2px white solid;
            }

            h1 {
                padding-left: 5px;
                border-bottom: white 3px solid;
                margin-bottom: 30px;
            }   
            
            p {
                margin: 10px 0;
            }

            li {
                margin: 10px 0 10px 10px;;
            }

            &:not(:last-child){
                margin-bottom: 20px;
            }

            @include respond-to(wide-screens) {
                max-width: 1024px;
                padding: 40px 60px;
            }

            @include respond-to(mobile) {
                font-size: 0.8em;

                h1 {
                    font-size: 1.3em;
                }

            }
            
        }
    }

    .typing-effect {
        overflow: hidden;
        margin: 0 auto; 
        white-space: nowrap; 
        letter-spacing: .15em;
        animation: typing 3.5s steps(60, end);

        @include respond-to(mobile){
            animation: 
                typing 2.5s steps(40, end);
        } 
        
        &:nth-child(2) {
            animation-delay: 1s;
            animation-fill-mode: forwards;
            width: 0;

            @include respond-to(mobile){
                animation-delay: 1.5s;
            }
        }

        &:last-child:after {
            content: '_';
            margin-left: .15em;
            font-size: 1.5em;
            color: white;
            animation: 
                blink .75s step-end infinite;
        }
    }

    @include respond-to(mobile){
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink {
        from, to { color: transparent }
        50% { color: white; }
    }
}