@import "navigation";
@import "mixins";

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: "Muli", "Lato", "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    background: url("../images/black-blue-abstract.jpg");
    background-size: cover;
    background-position: right top;

    .content {
        text-align: center;     
        font-size: 1.3em;
        color: $secondary-color;
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-direction: column;
        height: calc(100vh - #{$nav-height});
        overflow: scroll;

        h1 {
            font-size: 1.5em;
        }

        p#home {
            color: white;
            line-height: calc(100vh - #{$nav-height});  
        }

        .article {
            background: white;
            width: 100%;
            margin: auto;
            height: auto;
            padding: 5px 20px 10px 20px;
            text-align: left;
            //box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);

            &:not(:last-child){
                margin-bottom: 20px;
            }

            h1 {
                border-bottom: $secondary-color 3px solid;
                padding-left: 5px;
            }

            .interests {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    margin-left: 5px;
                    line-height: 40px;
                    font-weight: 600;
                }

                .interest-icons {
                    width: 40px;
                    height: 40px;
                }                   
            }

            @include respond-to(wide-screens) {
                width: 80%;
            }

            @include respond-to(mobile) {
               h1 {
                font-size: 1.3em;
               }

               p {
                   font-size: 0.8em;
                   margin: 10px 0;
               }
            }
            
        }
    }

    .typing-effect {
        overflow: hidden;
        margin: 0 auto; 
        white-space: nowrap; 
        letter-spacing: .15em;
        animation: 
            typing 3.5s steps(50, end);

        @include respond-to(mobile){
            animation: 
                typing 2.5s steps(40, end);
        }        

        &:after {
            content: '_';
            margin-left: .15em;
            font-size: 1.5em;
            color: white;
            animation: 
                blink .75s step-end infinite;
        }
    }

    @include respond-to(mobile){
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink {
        from, to { color: transparent }
        50% { color: white; }
    }
}