$padding: 3px;

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
    border-bottom-color: red;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}