nav ul {
  margin: 0;
  padding: 3px;
  list-style: none;
  border-bottom-color: red; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 3px 12px;
  text-decoration: none; }
