$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $nav-background;
  height: $nav-height;

  nav {
    padding: $nav-height 0 15px 0;
    flex: 1;

    .nav-mobile{
      position: absolute;
      right: 0;
      top:0;
      height: $nav-height;
      width: $nav-height;

      #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        span,
        span:before,
        span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 5px;
          width: 35px;
          background: $nav-font-color;
          position: absolute;
          display: block;
          content: '';
          transition: all 300ms ease-in-out;
        }
        span:before {
          top: -10px;
        }
        span:after {
          bottom: -10px;
        }
        &.active span {
          background-color: transparent;
          &:before,
          &:after {
            top: 0;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    ul {
      list-style-type: none;
      display: none;

      li {
        position: relative;

        a {
          display: block;
          line-height: $nav-height;

        }
      }
    }
  }
}