@import "colors";
@import "mixins";

.icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .icon-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    span {
        margin: 0 3px;
    }

    .icon-square {
        height: 40px;
        width: 40px;
    }

    svg.skill-icon {
        width: 40px;
        height: 40px;
    }

    img.skill-icon {
        max-width: 100%;
        max-height: 100%;
    }

    #html-icon {
        color: $html-red;
    }

    #css-icon {
        color: $css-blue;
    }

    #js-icon {
        color: $js-yellow;
    }

    #angular-icon {
        color: $angular-red;
    }

    #react-icon {
        color: $react-blue;
    }

    #gulp-icon {
        color: $gulp-red;
    }
}